
.ipynb_checkpoints/Icon
.ipynb_checkpoints/Icon
.ipynb_checkpoints/preprocess-checkpoint.ipynb
.ipynb_checkpoints/tournament-checkpoint.ipynb
.ipynb_checkpoints/Icon
.ipynb_checkpoints/Icon
.ipynb_checkpoints/Icon
.ipynb_checkpoints/Icon
*.pyc
.ipynb_checkpoints/Icon
.ipynb_checkpoints/Icon
*.icloud
sim-2014/.ipynb_checkpoints/crawler-checkpoint.ipynb
*.ipynb
